.rastyagka {
	height: 250px;
	margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	background: #fff;
	border: 1px solid #ccc;
  z-index: 1;

  &-item {

    img {
      max-width: 100%;
      display: block;
    }
  }

  &-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;

    &-text {
      font: 44px/54px @fusion;
      margin-left: 50px;
    }

    &-partner {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      margin-right: 20px;

      p {
        width: 100%;
        font: 16px/16px @regular;
        text-transform: uppercase;
      }

      .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          height: 40px;
        }
      }
    }
  }

	.js-w_closed {
		top: 1px !important;
		right: 7px !important;
		color: #ccc;
		font-size: 30px;
		font-family: @light;
		position: absolute;
		-moz-transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
		text-decoration: none;
		opacity: .5;
		z-index: 11;
  }
}

@media only screen and (min-width: 960px) and (max-width: 1199px) {
  .rastyagka {
    height: 150px;
  
    &-row {
  
      &-text {
        font: 26px/34px @fusion;
        margin-left: 20px;
      }
  
      &-partner {
        width: 230px;
        margin: 0 20px;

        p {
          font-size: 16px;
        }

        img {
          height: 30px;
        }
      }
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 959px) {
  .rastyagka {
    height: 100px;
  
    &-row {
      flex-direction: column;
      margin: 20px;
      flex: 1 1 auto;
  
      &-text {
        font: 16px/20px @fusion;
        margin-left: 0;
      }
  
      &-partner {
        margin-right: 0;

        p {
          font-size: 10px;
          line-height: 5px;
        }

        .wrapper {

          img {
            height: 14px;
            margin: 0;

            &:first-child {
              margin: 0 20px 0 0;
            }
          }
        }
      }
    }
  }
}