<div class="sidebar-discussing">
	<div class="sidebar-discussing-title">Сейчас обсуждают</div>
	<div class="sidebar-discussing-wrapp">
		
	<a class="item" href="https://autoreview.ru/articles/blog-avtorevyu/creta-na-test/#comment-22017">
		<div class="item-autor">
			<img src="static/img/avatar.jpg" alt="">
			<span>Константин Константинопольский</span>
		</div>
		<div class="item-text">С другой стороны консультация с широким активом играет важную роль в формировании новых предложений. Не следует, однак. С другой стороны консультация с широким активом играет важную роль в формировании новых предложений. Не следует, однак.</div>
	</a>

	<a class="item" href="https://autoreview.ru/articles/blog-avtorevyu/creta-na-test/#comment-22017">
		<div class="item-autor">
			<img src="static/img/avatar.jpg" alt="">
			<span>Константин Константинопольский</span>
		</div>
		<div class="item-text">С другой стороны консультация с широким активом играет важную роль в формировании новых предложений. Не следует, однак. С другой стороны консультация с широким активом играет важную роль в формировании новых предложений. Не следует, однак.</div>
	</a>

	<a class="item" href="https://autoreview.ru/articles/blog-avtorevyu/creta-na-test/#comment-22017">
		<div class="item-autor">
			<img src="static/img/avatar.jpg" alt="">
			<span>Константин Константинопольский</span>
		</div>
		<div class="item-text">С другой стороны консультация с широким активом играет важную роль в формировании новых предложений. Не следует, однак. С другой стороны консультация с широким активом играет важную роль в формировании новых предложений. Не следует, однак.</div>
	</a>

	<a class="item" href="https://autoreview.ru/articles/blog-avtorevyu/creta-na-test/#comment-22017">
		<div class="item-autor">
			<img src="static/img/avatar.jpg" alt="">
			<span>Константин Константинопольский</span>
		</div>
		<div class="item-text">С другой стороны консультация с широким активом играет важную роль в формировании новых предложений. Не следует, однак. С другой стороны консультация с широким активом играет важную роль в формировании новых предложений. Не следует, однак.</div>
	</a>

	<a class="item" href="https://autoreview.ru/articles/blog-avtorevyu/creta-na-test/#comment-22017">
		<div class="item-autor">
			<img src="static/img/avatar.jpg" alt="">
			<span>Константин Константинопольский</span>
		</div>
		<div class="item-text">С другой стороны консультация с широким активом играет важную роль в формировании новых предложений. Не следует, однак. С другой стороны консультация с широким активом играет важную роль в формировании новых предложений. Не следует, однак.</div>
	</a>

	</div>
</div>