<div class="sidebar-gray">
	<div class="sidebar-gray-title">Пульс</div>
	<div class="sidebar-gray-wrapp">
		<div class="item">
			<p>Столичный парк автомобилей каршеринга увеличился до 650 единиц. Как отмечают в правительстве Москвы, сервис краткосрочной аренды машины развивается быстрее, чем ожидалось. Планируется, что к концу года в нем будет работать уже полторы тысячи автомобилей.</p>
			<img src="https://autoreview.ru/images/gallery/%D0%9F%D0%A3%D0%9B%D0%AC%D0%A1/2016/%D0%98%D1%8E%D0%BB%D1%8C/20160704_moscow-carsharing.jpg" alt="">
			<span class="date">4 июля 13:31</span>
		</div>
		<div class="item">
			<p>На заводе Audi в Ингольштадте (Германия) началось производство кроссоверов Audi Q2. Специально для этой модели была проведена модернизация сборочной линии. Плановая мощность — 450 машин в день.</p>
			<img src="https://autoreview.ru/images/gallery/%D0%9F%D0%A3%D0%9B%D0%AC%D0%A1/2016/%D0%98%D1%8E%D0%BB%D1%8C/20160701_audi-q2.jpg" alt="">
			<span class="date">1 июля 18:20</span>
		</div>
		<div class="item">
			<p>Volkswagen опубликовал первые скетчи нового фургона Crafter. Компания особо подчеркивает, что на дизайн модели большое влияние оказали сами покупатели, чьи нужды были внимательно изучены экспертами. Начало производства новинки намечено на осень.</p>
			<img src="https://autoreview.ru/images/gallery/%D0%9F%D0%A3%D0%9B%D0%AC%D0%A1/2016/%D0%98%D1%8E%D0%BB%D1%8C/20160701_VW-Crafter_1.jpg" alt="">
			<span class="date">1 июля 16:12</span>
		</div>
		<div class="item">
			<p>Завод Hyundai в Санкт-Петербурге в первой половине 2016 года выпустил 96,7 тысячи автомобилей. За аналогичный период прошлого года было выпущено 110 тысяч. Снижение связано с подготовкой к выпуску кроссоверов Creta. Предприятие работает в трехсменном режиме и планирует до конца года выпустить 200 тысяч автомобилей.</p>
			<img src="https://autoreview.ru/images/gallery/%D0%9F%D0%A3%D0%9B%D0%AC%D0%A1/2016/%D0%98%D1%8E%D0%BB%D1%8C/20160701_zavod-hyundai.jpg" alt="">
			<span class="date">1 июля 12:19</span>
		</div>
		<div class="item">
			<p>Honda отмечает 40-летний юбилей модели Accord. Автомобиль первого поколения увидел свет в мае 1976 года, а в июне вышел на американский рынок. С тех пор сменилось девять поколение, а в одних только Штатах продано 12,7 млн Аккордов.</p>
			<img src="https://autoreview.ru/images/gallery/%D0%9F%D0%A3%D0%9B%D0%AC%D0%A1/2016/%D0%98%D1%8E%D0%BB%D1%8C/20160701_honda-accord-40th-anniversary.jpg" alt="">
			<span class="date">1 июля 10:47</span>
		</div>
		<div class="item">
			<p>Портал Авто.ру запустил приложение, которое способно распознавать автомобили по фотографии. Достаточно сфотографировать машину на смартфон, загрузить снимок — и приложение подскажет марку, модель и год выпуска автомобиля, а также его ориентировочную цену.</p>
			<img src="https://autoreview.ru/images/gallery/%D0%9F%D0%A3%D0%9B%D0%AC%D0%A1/2016/%D0%98%D1%8E%D0%BB%D1%8C/20160701_auto.ru.jpg" alt="">
			<span class="date">1 июля 10:37</span>
		</div>
		<div class="item">
			<p>Калифорнийский производитель спорткаров Rezvani Motors опубликовал тизер новой модели Beast Alpha с жестким верхом. Сейчас компания выпускает спорткары без крыши и дверей. На купе, о котором еще ничего не известно, уже принимаются заказы с предоплатой в тысячу долларов.</p>
			<img src="https://autoreview.ru/images/gallery/%D0%9F%D0%A3%D0%9B%D0%AC%D0%A1/2016/%D0%98%D1%8E%D0%BD%D1%8C/20160630_rezvani-beast-alpha.jpg" alt="">
			<span class="date">30 июня 17:42</span>
		</div>
		<div class="item">
			<p>Renault запускает в России программу продажи подержанных автомобилей Renault Selection. Программа распространяется на машины не старше пяти лет и с пробегом не более 150 тысяч км. До конца года к Renault Selection планируют подключить 50 дилерских центров.</p>
			<img src="https://autoreview.ru/images/gallery/%D0%9F%D0%A3%D0%9B%D0%AC%D0%A1/2016/%D0%98%D1%8E%D0%BD%D1%8C/20160630_renault-selection.jpg" alt="">
			<span class="date">30 июня 17:35</span>
		</div>
		<div class="item">
			<p>Компания Ford-Sollers в рамках создания новой специализированной <a href="/article/v-rossii-otkroyutsya-special-nye-centry-prodazh-avtomobiley-ford-transit" target="_blank">сети Transit-центров</a> по продаже и обслуживанию легких коммерческих автомобилей одобрила 50 заявок от дилеров в 28 городах России.</p>
			<img src="https://autoreview.ru/images/gallery/%D0%9F%D0%A3%D0%9B%D0%AC%D0%A1/2016/%D0%98%D1%8E%D0%BD%D1%8C/20160630_ford-sollers-transit-center.jpg" alt="">
			<span class="date">30 июня 12:22</span>
		</div>
		<div class="item">
			<p>С 1 августа на дорогах вокруг аэропорта Шереметьево начнут работать эвакуаторы. Это один из этапов развития инфраструктуры к чемпионату мира по футболу 2018 года. Ранее Минтранс Подмосковья, администрация Химок и Шереметьево запустили систему фотофиксации нарушений правил парковки Паркон.</p>
			<img src="https://autoreview.ru/images/gallery/%D0%9F%D0%A3%D0%9B%D0%AC%D0%A1/2016/%D0%98%D1%8E%D0%BD%D1%8C/20160629_sheremetievo.jpg" alt="">
			<span class="date">29 июня 18:35</span>
		</div>
	</div>
	<div class="sidebar-gray-more">
		<a href="" class="more">все сообщения</a>
	</div>
</div>