<div class="sidebar-white newsletter">
	<p class="title">Рассылка</p>
	<p class="text">Лучшие материалы Авторевю — в вашем почтовом ящике</p>
	<form method="POST" action="https://autoreview.ru/mail/subscribe" accept-charset="UTF-8"><input name="_token" type="hidden" value="XMqgSfJalyX7hGt3AWkmFuwiOG4Z4H6xitYLtlBb">
		<input class="input email" placeholder="Ваш e-mail" name="email" type="email">
		<input name="_token" type="hidden" value="XMqgSfJalyX7hGt3AWkmFuwiOG4Z4H6xitYLtlBb">
		<input class="button" type="submit" value="Отправить">
	</form>
</div>

