<div class="sidebar-them">
	<div class="sidebar-them-title">Горячие темы</div>
	<div class="sidebar-them-wrapp">
		
		<div class="item" data-href="https://autoreview.ru/articles/blog-avtorevyu/creta-na-test">
			<div class="item-img" style="background-image: url(https://autoreview.ru/images/Article/1574/Article_157452_860_575.jpg)">
				<span class="item-img-comments">793</span>
				<span class="item-img-border">
					<span class="item-img-border-fire"></span>
				</span>
			</div>
			<div class="item-content">У вас Hyundai Creta 1.6 с «автоматом»? Приезжайте 20—22 сентября на тест Авторевю!</div>
		</div>

		<div class="item" data-href="https://autoreview.ru/articles/blog-avtorevyu/creta-na-test">
			<div class="item-img" style="background-image: url(https://autoreview.ru/images/Article/1574/Article_157452_860_575.jpg)">
				<span class="item-img-comments">793</span>
				<span class="item-img-border">
					<span class="item-img-border-fire"></span>
				</span>
			</div>
			<div class="item-content">У вас Hyundai Creta 1.6 с «автоматом»? Приезжайте 20—22 сентября на тест Авторевю!</div>
		</div>

		<div class="item" data-href="https://autoreview.ru/articles/blog-avtorevyu/creta-na-test">
			<div class="item-img" style="background-image: url(https://autoreview.ru/images/Article/1574/Article_157452_860_575.jpg)">
				<span class="item-img-comments">793</span>
				<span class="item-img-border">
					<span class="item-img-border-fire"></span>
				</span>
			</div>
			<div class="item-content">У вас Hyundai Creta 1.6 с «автоматом»? Приезжайте 20—22 сентября на тест Авторевю!</div>
		</div>

		<div class="item" data-href="https://autoreview.ru/articles/blog-avtorevyu/creta-na-test">
			<div class="item-img" style="background-image: url(https://autoreview.ru/images/Article/1574/Article_157452_860_575.jpg)">
				<span class="item-img-comments">793</span>
				<span class="item-img-border">
					<span class="item-img-border-fire"></span>
				</span>
			</div>
			<div class="item-content">У вас Hyundai Creta 1.6 с «автоматом»? Приезжайте 20—22 сентября на тест Авторевю!</div>
		</div>

		<div class="item" data-href="https://autoreview.ru/articles/blog-avtorevyu/creta-na-test">
			<div class="item-img" style="background-image: url(https://autoreview.ru/images/Article/1574/Article_157452_860_575.jpg)">
				<span class="item-img-comments">793</span>
				<span class="item-img-border">
					<span class="item-img-border-fire"></span>
				</span>
			</div>
			<div class="item-content">У вас Hyundai Creta 1.6 с «автоматом»? Приезжайте 20—22 сентября на тест Авторевю!</div>
		</div>

	</div>
</div>