<div class="anons">
	<div class="anons-title"><span>Авторевю №13-15</span></div>
	<div class="container">
		<div class="anons-print">
			<img src="../static/img/anons/cover.png" alt="">
		</div>
		<div class="anons-text">
			<ul>
				<li>
					<a href="page.html">Кроссоверы на миллион: Haval H2, Kia Soul, Renault Kaptur и Skoda Yeti</a>
				</li>
				<li>
					<a href="page.html">Супертест: чем полировать кузов?</a>
				</li>
				<li>
					<a href="page.html">Летняя охота на тюнинг: кто вне закона?</a>
				</li>
				<li>
					<a href="page.html">Первая встреча: Genesis G90</a>
				</li>
				<li>
					<a href="page.html">Moscow Classic Grand Prix: мы на Москвиче</a>
				</li>
			</ul>
			<a href="anons.html" class="more">Весь анонс</a>
			<div class="store">
				<a href="" class="store-link apple" target="_blank"></a>
				<a href="" class="store-link google tooltip" target="_blank" title="Заказываете продукты или еду?<br>Спрашивайте, есть ли у них Авторевю!">доставка</a>
			</div>
		</div>
	</div>
</div>
