<a href="javascript:void(0);" class="chat-link js-show-chat"></a>
<div class="chat-site">
	<div class="item">
		<div class="item-left">
			<img src="static/img/avatar.jpg" class="img">
			<div class="like">4</div>
		</div>
		<div class="item-right">
			<div class="name">Евгений Иванов<span class="date">только что</span></div>
			<div class="text">
				<p>Товарищи! рамки и место обучения кадров требуют от нас анализа модели развития.</p>
			</div>
		</div>
	</div>

	<div class="item">
		<div class="item-left">
			<img src="static/img/avatar.jpg" class="img">
			<div class="like active">73</div>
		</div>
		<div class="item-right">
			<div class="name">Евгений Иванов<span class="date">только что</span></div>
			<div class="text">
				<p>Товарищи! рамки и место обучения кадров требуют от нас анализа модели развития.</p>
			</div>
		</div>
	</div>

	<div class="item">
		<div class="item-left">
			<img src="static/img/avatar.jpg" class="img">
			<div class="like">8</div>
		</div>
		<div class="item-right">
			<div class="name">Евгений Иванов<span class="date">только что</span></div>
			<div class="text">
				<p>Товарищи! рамки и место обучения кадров требуют от нас анализа модели развития.</p>
				<p>Товарищи! рамки и место обучения кадров требуют от нас анализа модели развития.</p>
				<p>Товарищи! рамки и место обучения кадров требуют от нас анализа модели развития.</p>
			</div>
		</div>
	</div>

	<div class="item">
		<div class="item-left">
			<img src="static/img/avatar.jpg" class="img">
			<div class="like">852</div>
		</div>
		<div class="item-right">
			<div class="name">Евгений Иванов<span class="date">только что</span></div>
			<div class="text">
				<p>Товарищи! рамки и место обучения кадров требуют от нас анализа модели развития.</p>
				<p>Товарищи! рамки и место обучения кадров требуют от нас анализа модели развития.</p>
			</div>
		</div>
	</div>

	<div class="item">
		<div class="item-left">
			<img src="static/img/avatar.jpg" class="img">
			<div class="like active">4429</div>
		</div>
		<div class="item-right">
			<div class="name">Евгений Иванов<span class="date">только что</span></div>
			<div class="text">
				<p>Товарищи! рамки и место обучения кадров требуют от нас анализа модели развития.</p>
				<img src="static/photo/club/blog.jpg" alt="">
			</div>
		</div>
	</div>

	<div class="item">
		<div class="item-left">
			<img src="static/img/avatar.jpg" class="img">
			<div class="like">5</div>
		</div>
		<div class="item-right">
			<div class="name">Евгений Иванов<span class="date">только что</span></div>
			<div class="text">
				<p>Товарищи! рамки и место обучения кадров требуют от нас анализа модели развития.</p>
				<img src="static/photo/club/blog.jpg" alt="">
				<p>Товарищи! рамки и место обучения кадров требуют от нас анализа модели развития.</p>
			</div>
		</div>
	</div>

	<div class="item">
		<div class="item-left">
			<img src="static/img/avatar.jpg" class="img">
			<div class="like">11</div>
		</div>
		<div class="item-right">
			<div class="name">Евгений Иванов<span class="date">только что</span></div>
			<div class="text">
				<p>Товарищи! рамки и место обучения кадров требуют от нас анализа модели развития. Товарищи! рамки и место обучения кадров требуют от нас анализа модели развития. Товарищи! рамки и место обучения кадров требуют от нас анализа модели развития. Товарищи! рамки и место обучения кадров требуют от нас анализа модели развития.</p>
			</div>
		</div>
	</div>

	<div class="item">
		<div class="item-left">
			<img src="static/img/avatar.jpg" class="img">
			<div class="like active">43461</div>
		</div>
		<div class="item-right">
			<div class="name">Евгений Иванов<span class="date">только что</span></div>
			<div class="text">
				<p>Товарищи! рамки и место обучения кадров требуют от нас анализа модели развития. Товарищи! рамки и место обучения кадров требуют от нас анализа модели развития. Товарищи! рамки и место обучения кадров требуют от нас анализа модели развития. Товарищи! рамки и место обучения кадров требуют от нас анализа модели развития.</p>
				<img src="static/photo/club/blog.jpg" alt="">
				<p>Товарищи! рамки и место обучения кадров требуют от нас анализа модели развития. Товарищи! рамки и место обучения кадров требуют от нас анализа модели развития. Товарищи! рамки и место обучения кадров требуют от нас анализа модели развития. Товарищи! рамки и место обучения кадров требуют от нас анализа модели развития.</p>
			</div>
		</div>
	</div>

	<div class="item">
		<div class="item-left">
			<img src="static/img/avatar.jpg" class="img">
			<div class="like">2</div>
		</div>
		<div class="item-right">
			<div class="name">Евгений Иванов<span class="date">только что</span></div>
			<div class="text">
				<p>Товарищи! рамки и место обучения кадров требуют от нас анализа модели развития.</p>
				<p>Товарищи! рамки и место обучения кадров требуют от нас анализа модели развития. Товарищи! рамки и место обучения кадров требуют от нас анализа модели развития. Товарищи! рамки и место обучения кадров требуют от нас анализа модели развития. Товарищи! рамки и место обучения кадров требуют от нас анализа модели развития.</p>
			</div>
		</div>
	</div>

	<div class="item">
		<div class="item-left">
			<img src="static/img/avatar.jpg" class="img">
			<div class="like active">1</div>
		</div>
		<div class="item-right">
			<div class="name">Евгений Иванов<span class="date">только что</span></div>
			<div class="text">
				<p>Товарищи! рамки и место обучения кадров требуют от нас анализа модели развития.</p>
			</div>
		</div>
	</div>

	<div class="item">
		<div class="item-left">
			<img src="static/img/avatar.jpg" class="img">
			<div class="like">905</div>
		</div>
		<div class="item-right">
			<div class="name">Евгений Иванов<span class="date">только что</span></div>
			<div class="text">
				<img src="static/photo/club/blog.jpg" alt="">
				<p>Товарищи! рамки и место обучения кадров требуют от нас анализа модели развития.</p>
			</div>
		</div>
	</div>
</div>