<footer>
	<div class="container foot">
		<div class="foot-social">
			<a href="" class="foot-social-item facebook"><span>Обсуждайте в Facebook</span></a>
			<a href="" class="foot-social-item twitter"><span>Узнавайте в Twitter</span></a>
			<a href="" class="foot-social-item instargam"><span>Следите в Instagram</span></a>
			<a href="" class="foot-social-item vkontakte"><span>Голосуйте Вконтакте</span></a>
			<a href="" class="foot-social-item youtube"><span>Смотрите на YouTube</span></a>
		</div>
		<div class="foot-content">
			<ul class="foot-content-nav">
				<div>
					<a href="">Новости</a>
					<a href="">Тесты</a>
					<a href="">Грузовики</a>
					<a href="">Автоспорт</a>
					<a href="">Подшивка</a>
				</div>
				<div>
					<a href="">Марки</a>
					<a href="">Онлайны</a>
					<a href="">Парковка</a>
					<a href="">Кто где?</a>
					<a href="clubMain.html">Клуб</a>
				</div>
				<div>
					<a href="">Авторы</a>
					<a href="">Контакты</a>
					<a href="">Реклама</a>
				</div>
			</ul>
			<div id="search" class="foot-content-info">
				<form action="" class="search">
					<input type="text" class="input">
					<input type="submit" class="butt" value="s">
				</form>
				<a href="" class="button">подписка</a>
				<script>show_molly_widget();</script>
			</div>
		</div>
		<div class="foot-copy">Copyright &copy; OOO «Авторевю» 1990-2016. Все права защищены. Перепечатка материалов – только с письменного разрешения редакции.</div>
	</div>
</footer>