<header>
	<div class="container head">
		<div class="head-left">
			<a href="index.html" class="head-left-logo"></a>
			<a href="" class="head-left-nav">Новости</a>
			<a href="" class="head-left-nav">Тесты</a>
			<a href="" class="head-left-nav">Грузовики</a>
			<a href="" class="head-left-nav">Подшивка</a>
			<a href="" class="head-left-nav">Arcap</a>
			<a href="" class="head-left-nav">Подписка</a>
			<a href="" class="head-left-nav shop">Магазин</a>
		</div>
		<div class="head-right">
			<div class="head-right-search">
				<span class="search">s</span>
				<a href="#search" class="search">s</a>
				<form method="GET" action="http://autoreview.ru/search" accept-charset="UTF-8" class="search-form">
					<input name="q" id="search-input" class="input" placeholder="Я ИЩУ">
				</form>
				<span class="closed"></span>
			</div>
			<a href="#login" class="head-right-profil mp-popup-login js-login_demo"></a>
			<div class="head-right-profil-loger js-profil" style="display:none;">
				<span class="avatar-notification">1</span>
				<img src="static/img/avatar.jpg">
			</div>
			<div class="head-right-menu js-menu"><span></span></div>
		</div>
	</div>
</header>