<div class="sidebar">
	<!--#include virtual="/includes/layout/sidebar/them.html" -->
	<!--#include virtual="/includes/layout/sidebar/old-cars.html" -->
	<!--#include virtual="/includes/layout/sidebar/arcap.html" -->
	<!--#include virtual="/includes/layout/sidebar/banner.html" -->
	<!--#include virtual="/includes/layout/sidebar/sport.html" -->
	<!--#include virtual="/includes/layout/sidebar/forum.html" -->
	<!--#include virtual="/includes/layout/sidebar/brand.html" -->
	<!--#include virtual="/includes/layout/sidebar/tgb.html" -->
	
	<!--#include virtual="/includes/layout/sidebar/discussing.html" -->
	<!--#include virtual="/includes/layout/sidebar/newsletter.html" -->
	<!--#include virtual="/includes/layout/sidebar/parking.html" -->
	<!--#include virtual="/includes/layout/sidebar/location.html" -->
	<!--#include virtual="/includes/layout/sidebar/resource.html" -->

</div>