<nav>
	<div class="container nav">
		<div class="nav-menu">
			<div>
				<a href="">Новости</a>
				<a href="">Тесты</a>
				<a href="">Грузовики</a>
				<a href="">Автоспорт</a>
				<a href="">ArCap</a>
			</div>
			<div>
				<a href="">Подшивка</a>
				<a href="">Парковка</a>
				<a href="">Кто где?</a>
				<a href="">Клуб</a>
				<a href="" class="shop">Магазин</a>
			</div>
			<div>
				<a href="">Авторы</a>
				<a href="">Контакты</a>
				<a href="">Реклама</a>
				<a href="">Подписка</a>
			</div>
		</div>
		<div class="nav-social">
			<a href="" class="nav-social-item vkontakte"></a>
			<a href="" class="nav-social-item facebook"></a>
			<a href="" class="nav-social-item twitter"></a>
			<a href="" class="nav-social-item instargam"></a>
			<a href="" class="nav-social-item youtube"></a>
		</div>
		<span class="closed js-nav-closed"></span>
	</div>
</nav>